body {
  background-color: #23201f;
  font-family: Poppins, sans-serif;
}

.navigation-bar {
  color: #c59100;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 300;
}

li:hover {
  text-decoration: overline;
}

h1 {
  float: left;
  margin-top: 10px;
  font-size: 36px;
  margin-left: 20px;
}

.hero-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  opacity: 0.7;
}

h2 {
  color: #c59100;
  text-align: center;
  margin: 40px 0;
  font-weight: 600;
}

h3 {
  color: white;
  font-weight: 500;
}

.visit-container {
  display: flex;
  justify-content: space-between;
}

.visit-box {
  flex: 1;
  padding: 20px;
  margin: 20px;
  border: 1px solid #c59100;
  text-align: center;
}

.cats-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.cats-container img {
  margin: 25px;
  max-width: 100%;
  height: auto;
}
