body {
  background-color: #23201f;
}

.navigation-bar {
  color: #c59100;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px;
}

h1 {
  float: left;
  margin-top: 10px;
  font-size: 36px;
  margin-left: 20px;
}

.hero-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  opacity: 0.7;
}

h2 {
  color: #c59100;
  text-align: center;
  margin: 40px 0;
}

h3 {
  color: white;
}

.visit-container {
  display: flex;
  justify-content: space-between;
}

.visit-box {
  flex: 1;
  padding: 20px;
  margin: 20px;
  border: 1px solid #c59100;
  text-align: center;
}
